.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(circle, rgba(77,91,255,1) 0%, rgba(0,0,0,1) 56%);
}

.title {
  text-align: center;
  font-size: 3em;
  margin:20px;
}

.pic {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: no-repeat;
  background-size: cover;
}

.percent {
  font-size: 60px;
}

h1{
  color:white;
}

.eval {
  font-size: 3em;
  background-color: #333333;
  color: white;
  margin: 30px;
  border-radius: 30px;
  border: 2px solid #ff0000;
}

.bar{
  position:absolute;
  bottom: 0;
  height: 60px;
  background-color: #3232ff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  color: white;
}

.bar > a {
  color: white;
}

svg {
  margin: 25px;
}

a {
  color:black;
  text-decoration: none;
}